.welcome-page {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);

  padding-right: 0;
  transform: translateX(0);
  transition: all 0.5s ease-out;

  overflow-y: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  .my-info {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    padding: 0 15vw;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 1s ease-out;

    .my-info__container {
      transform: translateX(0vw);
      transition: all 0.5s ease-out;
    }
  }

  &.welcome-page_scroll .my-info__container {
    transform: translateX(-50vw);
    transition: all 0.5s ease-out;
  }
}

.continue-link {
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-out;
  padding-left: 0px;

  &:hover {
    padding-left: 30px;
    transition: all 0.3s ease-out;
  }
}

.arrow {
  position: relative;
  width: 5rem;
  height: 2px;
  background-color: white;
  border: 0px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    background: #ffffff;
    width: 13px;
    height: 2px;
    transform-origin: center right;
    transform: rotate(35deg);
  }

  &:after {
    transform: rotate(-35deg);
  }
}