.background_page {
  height: 100vh;
  // width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .background__images {
    position: relative;
    height: 65vh;
    width: 100%;
    display: flex;

    &.background__images_row {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1vw;

      .background__image {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        overflow: hidden;

        filter: blur(3px);
        -webkit-filter: blur(3px);
      }
    }
  }
}