$font-size: clamp(20px, 3.4vw, 40px);
$font-size_active: clamp(24px, 3.8vw, 44px);
$font-size-other: clamp(18px, 3.2vw, 38px);

.setting-btn_mobile {
  position: fixed;
  top: 5vh;
  right: calc(10vw + 2rem);
  z-index: 200;
  border-radius: 50%;
  background-color: white;

  &.gallery {
    top: 9vh;
  }
}

.close-btn_mobile {
  position: absolute;
  top: 10vh;
  right: 2rem;
  background-color: white;
  border-radius: 50%;
  z-index: 9999;
}

.link-container__line-mobile {
  &::after {
    content: '';
    position: fixed;
    top: 0;
    right: calc(10vw + 4.5rem);
    z-index: 100;
    box-sizing: border-box;
    background: white;
    width: 0.6rem;
    height: 7vh;
  }

  &::before {
    content: '';
    position: fixed;
    top: calc(5vh + 2.25rem);
    right: calc(10vw + 4.5rem);
    z-index: 100;
    box-sizing: border-box;
    background: white;
    width: 90vw;
    height: 0.6rem;
  }

  &.gallery {
    &::after {
      content: '';
      position: fixed;
      top: 0;
      right: calc(10vw + 4.5rem);
      z-index: 100;
      box-sizing: border-box;
      background: white;
      width: 0.6rem;
      height: 10vh;
    }

    &::before {
      content: '';
      position: fixed;
      top: calc(1vh + 1.5rem);
      right: calc(10vw + 4.5rem);
      z-index: 100;
      box-sizing: border-box;
      background: white;
      width: 90vw;
      height: 0.6rem;
    }
  }
}

.link-container__logo-mobile {
  height: 4.5rem;

  &.gallery {
    height: 3rem;
  }

  .link-container__logo-mobile-img {
    height: 100%;
    position: relative;
    z-index: 55;
  }
}

.link-container__logo-mobile_open-menu {
  z-index: 200;
  height: 4.5rem;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  .link-container__logo-mobile-img {
    height: 100%;
    position: relative;
    z-index: 55;
  }
}

.link-container_mobile {
  position: relative;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  padding: 0 0 10vh 0;
  min-width: 30rem;
  overflow-x: hidden;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  .link-container__container-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .link-container__nav-links {
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 3vh;
    z-index: 3;

    .link-container__container-nav-link {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      z-index: 2;
      height: fit-content;
    }

    .link-container__nav-link {
      color: rgba(255, 255, 255, 0.5);
      position: relative;
      z-index: 5;
      font-weight: 400;
      font-size: $font-size;
      line-height: $font-size;
      width: fit-content;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1% 4%;

      &~.link-container__nav-link-other {
        position: absolute;
        top: 0;
        color: rgba(255, 255, 255, 0);
        font-weight: 400;
        font-size: $font-size-other;
        line-height: 110%;
        padding: 0 2rem 0 7rem;
        width: max-content;
        z-index: -1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .link-container__nav-link_active {
      color: rgba(255, 255, 255, 0.9);
      font-weight: 700;
      position: relative;
      font-size: $font-size_active;
      line-height: $font-size_active;
      width: max-content;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1% 4%;

      &~.link-container__nav-link-other {
        color: rgba(255, 255, 255, 0.6);
        font-weight: 400;
        position: relative;
        font-size: $font-size-other;
        line-height: 110%;
        width: max-content;
        white-space: nowrap;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1% 4%;
      }
    }

    .link-container__nav-link-other_active {
      color: rgba(255, 255, 255, 0.8);
      font-weight: 700;
      position: relative;
      font-size: $font-size;
      line-height: 110%;
      width: max-content;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}