.portfolio-filter {
  height: 8%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .portfolio-filter__images {
    position: relative;
    // height: 65vh;
    height: 100%;
    width: 100%;
    display: flex;

    // .MuiButtonBase-root {
    //   filter: blur(0px);
    //   -webkit-filter: blur(0px);
    //   transition: all 0.5s ease-out;
    // }

    // &:hover>.MuiButtonBase-root:not(:hover) {
    //   filter: blur(4px);
    //   -webkit-filter: blur(4px);
    //   transition: all 0.5s ease-out;
    // }

    &.portfolio-filter__images_row {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 2vw;
      padding: 0 2vw;

      .portfolio-filter__image {
        height: 100%;
        // width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        overflow: hidden;
      }
    }
  }
}