.background_page-home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .background__images {
    position: relative;
    height: 70%;
    width: 100%;
    display: flex;

    .text-nick {
      opacity: 1;
      transition: all 0.5s ease-out;
    }

    &:focus-within .text-nick,
    &:hover .text-nick {
      // color: blue;
      opacity: 0;
      transition: all 0.5s ease-out;
    }

    &.background__images_row {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1vw;

      .background__image {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        overflow: hidden;
      }
    }
  }
}