#root {
  /* min-width: 100vw; */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
  overflow: hidden;
  box-sizing: border-box;
}