.portfolio-filter {
  height: 8%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .portfolio-filter__images {
    position: relative;
    // height: 65vh;
    height: 100%;
    width: 100%;
    display: flex;

    &.portfolio-filter__images_row {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 2vw;
      padding: 0 2vw;

      .portfolio-filter__image {
        height: 100%;
        // width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        overflow: hidden;
      }
    }
  }
}